
body {
    background-color: black;
    background-image: url(pictures/13.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    height: 100vh;
}
.navlist {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    transform: translateX(-75px);
}
@media (max-width:768px) {
    .navlist {
        transform: translateX(-30px);
    }
}
.nav {
   color:rgba(250, 235, 215, 0.548); 
   font-size: large;
   text-decoration: none;
   text-align: left;
}
.nav:hover {
    cursor: pointer;
    color:rgba(163, 142, 19, 0.6);
    transition: 0.3s ease;
}
.vline {
    width: 1px;
    height: 20px;
    background: rgba(250, 235, 215, 0.548);
}
.navigation {
    padding:20px;
}
hr {
    border: none;
    border-top: 2px dotted rgba(250, 235, 215, 0.17);
}
.mainbtn {
    
    background-color: rgba(163, 142, 19, 0.5);
    border-radius: 35px;
    gap: 30px;
    padding:10px;
}
.mainbtn:hover {
    cursor: pointer;
    background-color:rgba(163, 142, 19, 0.8);
    transition: 0.3s ease;
}
.mainbtnlink {
    text-decoration: none;
    color: rgba(250, 235, 215, 0.548);
}
.footer {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
}
.ciala {
    width: fit-content;
    margin: 0 auto;
    text-align: left;
    opacity: 0;
    animation: fadeText 0.7s ease forwards;
}
 @keyframes fadeText {
        to {
            opacity: 1;
        }
        
 }
.glow-img {
    max-width: 350px; 
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(250, 235, 215, 0.2);
}
#nazwisko {
width: 350px;
padding: 10px;
border-radius: 10px;
}
#email {
    width: 350px;
    padding: 10px;
    border-radius: 10px;
}
#tekst {
    width: 350px;
    padding: 10px;
    border-radius: 10px;
    background: transparent;
    margin: 15px 0 15px 0;
    color: white;
}
input {
    background: transparent;
    margin: 15px 0 15px 0;
    color: white;
}
.logo {
  position: absolute; 
  top: 20px;
  left: 20px;
  z-index: 1000;
}

.logo img {
  width: 120px;
  height: auto;
  display: block;
}
@media (max-width: 768px) {
  .logo {
    display: none;
  }
}
.icon {
    margin: 20px;
}
.ciala-uslagi {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.about-uslagi {
    display: flex;
    flex-direction: column; 
    text-align: center;
    margin-bottom: 20px;
}
.content-img {
    border: 2px solid rgba(250, 235, 210, 0.7);
    
}
.center-img {
    max-height: 400px;
    max-width: 100%;
    border: 8px solid transparent;
    border-radius: 0 0 0 9%;
    object-fit: cover;
    display: block;
}
.links-uslagi {
    display: flex;
    flex-direction: column;
}
.projects {
    max-height: 150px;
    max-width:150px;
}
.projects:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s ease;
    box-shadow: 0 0 3px rgba(250, 235, 210, 0.7);
}
figcaption {
    color: rgba(250, 235, 210, 0.7);
    font-size: large;
    text-align: left;
}
@media (max-width: 768px) {
    .ciala-uslagi {
        flex-direction: column;
        text-align: center;
    }

    .about-uslagi {
        margin-right: 0;
        text-align: center;
    }

    .links-uslagi {
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        text-align: left;
    }

    .center-img {
        width: 98%;
        max-width: 350px;
        height: auto;
    }
    .content-img {
        margin: 15px 0;
        
      }
}
#lightbox {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#lightbox img {
    max-width: 90%;
    max-height: 90%;
}